
#product-list {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 1rem;
}

.product {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product:hover {
  transform: scale(1.03);
}

.product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product h3 {
  font-size: 0.9rem;
  margin: 0.5rem 0 0.2rem;
  font-weight: bold;
}

.product p {
  font-size: 0.85rem;
  margin: 0 0 0.5rem;
  color: #555;
}

.product strong {
  color: #222;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}

.product button {
  background-color: #6aa536;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  margin-top: auto;
  transition: background-color 0.3s;
  font-size: 0.8rem;
}

.product button:hover {
  background-color: #036724;
}

.product em {
  font-size: 1rem;
  color: #6b4f3b;
}

.product-image-wrapper {
  position: relative;
  display: inline-block;
}


.original-price {
  text-decoration: line-through;
  color: #c62828; /* Deep red */
  background-color: #ffe0e0; /* Light pink background */
  padding: 2px 6px;
  border-radius: 4px;
  margin-right: 6px;
}

.size-price-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.size-price-wrapper select {
  width: auto;
  max-width: 60%;
  min-width: 80px;
}

.size-price-wrapper strong {
  white-space: nowrap;
  font-size: 1rem;
  margin-left: 10px;
  color: #2e7d32;
  background-color: #e0f7fa;
  padding: 4px 8px;
  border-radius: 6px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
}

.size-price-wrapper .original-price {
  color: red;
  text-decoration: line-through;
  margin-right: 5px;
}

.price-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.price-center strong {
  white-space: nowrap;
  font-size: 1rem;
  color: #2e7d32;
  background-color: #e0f7fa;
  padding: 4px 8px;
  border-radius: 6px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
}

.price-center .original-price {
  color: red;
  text-decoration: line-through;
  margin-right: 5px;
}

